{% extends '_layouts/default/default.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4>Please check your email and confirm your email address before logging in.</h4>
            </div>
        </div>
    </div>
{% endblock %}
