{% extends '_layouts/default/default.html.twig' %}

{% block content %}
    <div class="container">
        Please check your email and confirm your email address before logging in.
    </div>
{% endblock %}
