{% extends 'base.html.twig' %}

{% block title %}Welcome to ...!{% endblock %}

{% block body %}
<div class="container">
    <h1>Welcome to ...! ✅</h1>
    <ul>
        <li><a href="{{ path('form_register') }}">Register</a> </li>
        <li><a href="{{ path('form_login') }}">Login</a></li>
        <li><a href="{{ path('form_logout') }}">Logout</a></li>
    </ul>
</div>
{% endblock %}
