<a href="#" class="btn btn-icon btn-facebook"><i class="fab fa-facebook-f"></i></a>
<a href="#" class="btn btn-icon btn-twitter"><i class="fab fa-twitter"></i></a>
<a href="#" class="btn btn-icon btn-google"><i class="fab fa-google"></i></a>
<a href="#" class="btn btn-icon btn-youtube"><i class="fab fa-youtube"></i></a>
<a href="#" class="btn btn-icon btn-vimeo"><i class="fab fa-vimeo"></i></a>
<a href="#" class="btn btn-icon btn-dribbble"><i class="fab fa-dribbble"></i></a>
<a href="#" class="btn btn-icon btn-github"><i class="fab fa-github"></i></a>
<a href="#" class="btn btn-icon btn-instagram"><i class="fab fa-instagram"></i></a>
<a href="#" class="btn btn-icon btn-pinterest"><i class="fab fa-pinterest"></i></a>
<a href="#" class="btn btn-icon btn-vk"><i class="fab fa-vk"></i></a>
<a href="#" class="btn btn-icon btn-rss"><i class="fas fa-rss"></i></a>
<a href="#" class="btn btn-icon btn-flickr"><i class="fab fa-flickr"></i></a>
<a href="#" class="btn btn-icon btn-bitbucket"><i class="fab fa-bitbucket"></i></a>