{% extends 'layouts/full_page_fluid.html.twig' %}
{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <h1>Admin Dashboard</h1>
        <a href="{{ path('admin_article_list') }}">List Articles</a><br/>
        <a href="{{ path('admin_article_new') }}">Add Article</a>
    </div>
{% endblock %}