{% extends '_layouts/default/default.html.twig' %}
{%  set crumbs = [
    {title: 'Admin Home', path: 'admin_home'},
    {title: 'Add Category', active: true}
]
%}
{% block breadcrumb %}
    {% include '_layouts/components/_breadcrumb.html.twig' with {'crumbs': crumbs } %}
{% endblock %}
{% block title %}Add Category{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add Category</h1>
        {{ include('admin/categories/_form.html.twig', {
            button_text: 'Create'
        }) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}