{% extends '_layouts/default/default.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add Category</h1>
        {{ include('admin/categories/_form.html.twig', {
            button_text: 'Create'
        }) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}