{% extends '_layouts/default/default.html.twig' %}
{%  set crumbs = [
    {title: 'Admin Home', path: 'admin_home'},
    {title: 'New Article', active: true}
]
%}
{% block breadcrumb %}
    {% include '_layouts/components/_breadcrumb.html.twig' with {'crumbs': crumbs } %}
{% endblock %}
{% block title %}Add Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add Article</h1>
        {{ include('admin/article/_form.html.twig', {
            button_text: 'Create'
        }) }}
    </div>
    {#{% include "@CKSourceCKFinder/setup.html.twig" %}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}