{% extends '_layouts/default/default.html.twig' %}
{% set articles = context['content'] %}
{% block title %}{{ onl_render_title(settings, page) }} - Articles{% endblock %}

{% block body %}
    <div class="container">
        <h1>Articles</h1>
        <div class="row row-cards row-deck">
            {% for article in context['content'] | slice(0, 2) %}
                <div class="col-lg-6">
                    {% include '_layouts/components/cards/_post_single.html.twig' with { 'article': article, 'type': 'aside', 'truncate': 200} %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}