{% extends '_layouts/default/default.html.twig' %}

{% block title %}Site Settings!{% endblock %}

{% block body %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('admin_site_settings') }}">Site Settings</a>
        </li>
    </ul>
{% endblock %}
